name: Build

on:
  push:
    tags: 
      - "v*"

  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: hustcer/setup-nu@v3
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - name: linux build and mv
        shell: nu {0}
        run: |
          mkdir dist
          cargo build --release --target x86_64-unknown-linux-musl
          mv target/x86_64-unknown-linux-musl/release/kanata_ime_observer dist/kanata_ime_observer_linux_ibus_x64
          cargo build --release --features fcitx --target x86_64-unknown-linux-musl
          mv target/x86_64-unknown-linux-musl/release/kanata_ime_observer dist/kanata_ime_observer_linux_fcitx_x64
      - uses: actions/upload-artifact@v4
        with:
          name: linux
          path: dist/*

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: hustcer/setup-nu@v3
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - name: windows build and mv
        shell: nu {0}
        run: |
          mkdir dist
          cargo build --release --target x86_64-pc-windows-msvc
          mv target/x86_64-pc-windows-msvc/release/kanata_ime_observer.exe dist/kanata_ime_observer_win_x64.exe
          cargo build --release --features winonoff --target x86_64-pc-windows-msvc
          mv target/x86_64-pc-windows-msvc/release/kanata_ime_observer.exe dist/kanata_ime_observer_win_onoff_x64.exe
      - uses: actions/upload-artifact@v4
        with:
          name: windows
          path: dist/*
    